@import "tailwindcss";

@theme {
  --color-primary-50: #effcfb;
  --color-primary-100: #d5f7f4;
  --color-primary-200: #aceeea;
  --color-primary-300: #73dfdb;
  --color-primary-400: #35cbc7;
  --color-primary-500: #0abab5;
  --color-primary-600: #089b98;
  --color-primary-700: #087c7a;
  --color-primary-800: #0b6261;
  --color-primary-900: #0d5150;
  --color-primary-950: #033132;

  --color-charcoal-50: #f7f7f6;
  --color-charcoal-100: #e8e8e6;
  --color-charcoal-200: #d1d1ce;
  --color-charcoal-300: #aaa9a4;
  --color-charcoal-400: #777670;
  --color-charcoal-500: #55544f;
  --color-charcoal-600: #41403c;
  --color-charcoal-700: #343330;
  --color-charcoal-800: #282724;
  --color-charcoal-900: #1f1f1c;
  --color-charcoal-950: #121211;
}

body {
  font-family: "Poppins", sans-serif;
}

.auth-page :is(button, input, select, a) {
  border-radius: 0.75rem;
}

.profile-dashboard :is(button, input, select, textarea, img) {
  border-radius: 0.75rem;
}
